# Deploy infrastructure — consumed by bin/deploy-photos.sh

# If using rsync
RSYNC_HOST=user@your-server.example.com
RSYNC_DEST=/path/to/your/web/root/

# If using s3
S3_BUCKET=your-s3-bucket

# If using CloudFront - to invalidate cache
CLOUDFRONT_ID=YOUR_CLOUDFRONT_DISTRIBUTION_ID
